src/conf/xml-resources/web-service-references/VitorSOAP/wsdl/localhost_8080/WebServiceAPI/VitorSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sopa.pt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sopa.pt/" name="VitorSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://sopa.pt/" schemaLocation="http://localhost:8080/WebServiceAPI/VitorSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findAllCategory">
<part name="parameters" element="tns:findAllCategory"/>
</message>
<message name="findAllCategoryResponse">
<part name="parameters" element="tns:findAllCategoryResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<portType name="VitorSOAP">
<operation name="remove">
<input wsam:Action="http://sopa.pt/VitorSOAP/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://sopa.pt/VitorSOAP/countRequest" message="tns:count"/>
<output wsam:Action="http://sopa.pt/VitorSOAP/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://sopa.pt/VitorSOAP/findRequest" message="tns:find"/>
<output wsam:Action="http://sopa.pt/VitorSOAP/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://sopa.pt/VitorSOAP/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://sopa.pt/VitorSOAP/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://sopa.pt/VitorSOAP/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findAllCategory">
<input wsam:Action="http://sopa.pt/VitorSOAP/findAllCategoryRequest" message="tns:findAllCategory"/>
<output wsam:Action="http://sopa.pt/VitorSOAP/findAllCategoryResponse" message="tns:findAllCategoryResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://sopa.pt/VitorSOAP/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://sopa.pt/VitorSOAP/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://sopa.pt/VitorSOAP/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
</portType>
<binding name="VitorSOAPPortBinding" type="tns:VitorSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VitorSOAP">
<port name="VitorSOAPPort" binding="tns:VitorSOAPPortBinding">
<soap:address location="http://localhost:8080/WebServiceAPI/VitorSOAP"/>
</port>
</service>
</definitions>