src/conf/xml-resources/web-service-references/VitorSOAP/wsdl/localhost_8080/WebServiceAPI/VitorSOAP.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://sopa.pt/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sopa.pt/">

<xs:element name="category" type="tns:category"/>

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="edit" type="tns:edit"/>

<xs:element name="find" type="tns:find"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllCategory" type="tns:findAllCategory"/>

<xs:element name="findAllCategoryResponse" type="tns:findAllCategoryResponse"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="findResponse" type="tns:findResponse"/>

<xs:element name="remove" type="tns:remove"/>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="idCategory" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllCategory">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="entity" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edit">
<xs:sequence>
<xs:element name="entity" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="entity" type="tns:category" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>