web/WEB-INF/wsdl/localhost_8080/SOAPService/SOAP.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://API.webservice.aor.uc.pt/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://API.webservice.aor.uc.pt/">

<xs:element name="addProductSell" type="tns:addProductSell"/>

<xs:element name="addProductSellResponse" type="tns:addProductSellResponse"/>

<xs:element name="category" type="tns:category"/>

<xs:element name="client" type="tns:client"/>

<xs:element name="detailBySell" type="tns:detailBySell"/>

<xs:element name="detailBySellResponse" type="tns:detailBySellResponse"/>

<xs:element name="detailSell" type="tns:detailSell"/>

<xs:element name="detailSellResponse" type="tns:detailSellResponse"/>

<xs:element name="editProductSell" type="tns:editProductSell"/>

<xs:element name="editProductSellResponse" type="tns:editProductSellResponse"/>

<xs:element name="findAllCategory" type="tns:findAllCategory"/>

<xs:element name="findAllCategoryResponse" type="tns:findAllCategoryResponse"/>

<xs:element name="findAllProducts" type="tns:findAllProducts"/>

<xs:element name="findAllProductsResponse" type="tns:findAllProductsResponse"/>

<xs:element name="findProductByCategory" type="tns:findProductByCategory"/>

<xs:element name="findProductByCategoryResponse" type="tns:findProductByCategoryResponse"/>

<xs:element name="findProductByDesignation" type="tns:findProductByDesignation"/>

<xs:element name="findProductByDesignationResponse" type="tns:findProductByDesignationResponse"/>

<xs:element name="findProductById" type="tns:findProductById"/>

<xs:element name="findProductByIdResponse" type="tns:findProductByIdResponse"/>

<xs:element name="makeSell" type="tns:makeSell"/>

<xs:element name="makeSellResponse" type="tns:makeSellResponse"/>

<xs:element name="product" type="tns:product"/>

<xs:element name="removeProductSell" type="tns:removeProductSell"/>

<xs:element name="removeProductSellResponse" type="tns:removeProductSellResponse"/>

<xs:element name="removeSell" type="tns:removeSell"/>

<xs:element name="removeSellResponse" type="tns:removeSellResponse"/>

<xs:element name="searchByProduct" type="tns:searchByProduct"/>

<xs:element name="searchByProductResponse" type="tns:searchByProductResponse"/>

<xs:element name="sell" type="tns:sell"/>

<xs:element name="sellProduct" type="tns:sellProduct"/>

<xs:element name="sellsByUser" type="tns:sellsByUser"/>

<xs:element name="sellsByUserResponse" type="tns:sellsByUserResponse"/>

<xs:complexType name="detailSell">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detailSellResponse">
<xs:sequence>
<xs:element name="return" type="tns:sellProduct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sellProduct">
<xs:sequence>
<xs:element name="idSellProduct" type="xs:long" minOccurs="0"/>
<xs:element ref="tns:product" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element ref="tns:sell" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="brand" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="idCategory" type="tns:category" minOccurs="0"/>
<xs:element name="idProduct" type="xs:long" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="repositiondate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="idCategory" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sell">
<xs:sequence>
<xs:element name="actualdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="clientidClient" type="tns:client" minOccurs="0"/>
<xs:element name="deliverydate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idOrder" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="client">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="apikey" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idClient" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeProductSell">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
<xs:element name="arg1" type="xs:long"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeProductSellResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllProducts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllProductsResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makeSell">
<xs:sequence>
<xs:element name="arg0">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:int"/>
<xs:element name="value" minOccurs="0" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makeSellResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="sellsByUser">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sellsByUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:sell" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findProductByCategory">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findProductByCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detailBySell">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detailBySellResponse">
<xs:sequence>
<xs:element name="return" type="tns:sellProduct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findProductById">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findProductByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByProduct">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByProductResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProductSell">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
<xs:element name="arg1" type="xs:long"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProductSellResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllCategory">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeSell">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeSellResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="editProductSell">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
<xs:element name="arg1" type="xs:long"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProductSellResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findProductByDesignation">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findProductByDesignationResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>