web/WEB-INF/wsdl/localhost_8080/SOAPService/SOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://API.webservice.aor.uc.pt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.webservice.aor.uc.pt/" name="SOAPService">
<types>
<xsd:schema>
<xsd:import namespace="http://API.webservice.aor.uc.pt/" schemaLocation="http://localhost:8080/SOAPService/SOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="findAllCategory">
<part name="parameters" element="tns:findAllCategory"/>
</message>
<message name="findAllCategoryResponse">
<part name="parameters" element="tns:findAllCategoryResponse"/>
</message>
<message name="addProductSell">
<part name="parameters" element="tns:addProductSell"/>
</message>
<message name="addProductSellResponse">
<part name="parameters" element="tns:addProductSellResponse"/>
</message>
<message name="editProductSell">
<part name="parameters" element="tns:editProductSell"/>
</message>
<message name="editProductSellResponse">
<part name="parameters" element="tns:editProductSellResponse"/>
</message>
<message name="removeProductSell">
<part name="parameters" element="tns:removeProductSell"/>
</message>
<message name="removeProductSellResponse">
<part name="parameters" element="tns:removeProductSellResponse"/>
</message>
<message name="removeSell">
<part name="parameters" element="tns:removeSell"/>
</message>
<message name="removeSellResponse">
<part name="parameters" element="tns:removeSellResponse"/>
</message>
<message name="sellsByUser">
<part name="parameters" element="tns:sellsByUser"/>
</message>
<message name="sellsByUserResponse">
<part name="parameters" element="tns:sellsByUserResponse"/>
</message>
<message name="detailBySell">
<part name="parameters" element="tns:detailBySell"/>
</message>
<message name="detailBySellResponse">
<part name="parameters" element="tns:detailBySellResponse"/>
</message>
<message name="makeSell">
<part name="parameters" element="tns:makeSell"/>
</message>
<message name="makeSellResponse">
<part name="parameters" element="tns:makeSellResponse"/>
</message>
<message name="detailSell">
<part name="parameters" element="tns:detailSell"/>
</message>
<message name="detailSellResponse">
<part name="parameters" element="tns:detailSellResponse"/>
</message>
<message name="findAllProducts">
<part name="parameters" element="tns:findAllProducts"/>
</message>
<message name="findAllProductsResponse">
<part name="parameters" element="tns:findAllProductsResponse"/>
</message>
<message name="findProductByCategory">
<part name="parameters" element="tns:findProductByCategory"/>
</message>
<message name="findProductByCategoryResponse">
<part name="parameters" element="tns:findProductByCategoryResponse"/>
</message>
<message name="searchByProduct">
<part name="parameters" element="tns:searchByProduct"/>
</message>
<message name="searchByProductResponse">
<part name="parameters" element="tns:searchByProductResponse"/>
</message>
<message name="findProductById">
<part name="parameters" element="tns:findProductById"/>
</message>
<message name="findProductByIdResponse">
<part name="parameters" element="tns:findProductByIdResponse"/>
</message>
<message name="findProductByDesignation">
<part name="parameters" element="tns:findProductByDesignation"/>
</message>
<message name="findProductByDesignationResponse">
<part name="parameters" element="tns:findProductByDesignationResponse"/>
</message>
<portType name="SOAP">
<operation name="findAllCategory">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/findAllCategoryRequest" message="tns:findAllCategory"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/findAllCategoryResponse" message="tns:findAllCategoryResponse"/>
</operation>
<operation name="addProductSell">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/addProductSellRequest" message="tns:addProductSell"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/addProductSellResponse" message="tns:addProductSellResponse"/>
</operation>
<operation name="editProductSell">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/editProductSellRequest" message="tns:editProductSell"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/editProductSellResponse" message="tns:editProductSellResponse"/>
</operation>
<operation name="removeProductSell">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/removeProductSellRequest" message="tns:removeProductSell"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/removeProductSellResponse" message="tns:removeProductSellResponse"/>
</operation>
<operation name="removeSell">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/removeSellRequest" message="tns:removeSell"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/removeSellResponse" message="tns:removeSellResponse"/>
</operation>
<operation name="sellsByUser">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/sellsByUserRequest" message="tns:sellsByUser"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/sellsByUserResponse" message="tns:sellsByUserResponse"/>
</operation>
<operation name="detailBySell">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/detailBySellRequest" message="tns:detailBySell"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/detailBySellResponse" message="tns:detailBySellResponse"/>
</operation>
<operation name="makeSell">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/makeSellRequest" message="tns:makeSell"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/makeSellResponse" message="tns:makeSellResponse"/>
</operation>
<operation name="detailSell">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/detailSellRequest" message="tns:detailSell"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/detailSellResponse" message="tns:detailSellResponse"/>
</operation>
<operation name="findAllProducts">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/findAllProductsRequest" message="tns:findAllProducts"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/findAllProductsResponse" message="tns:findAllProductsResponse"/>
</operation>
<operation name="findProductByCategory">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/findProductByCategoryRequest" message="tns:findProductByCategory"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/findProductByCategoryResponse" message="tns:findProductByCategoryResponse"/>
</operation>
<operation name="searchByProduct">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/searchByProductRequest" message="tns:searchByProduct"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/searchByProductResponse" message="tns:searchByProductResponse"/>
</operation>
<operation name="findProductById">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/findProductByIdRequest" message="tns:findProductById"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/findProductByIdResponse" message="tns:findProductByIdResponse"/>
</operation>
<operation name="findProductByDesignation">
<input wsam:Action="http://API.webservice.aor.uc.pt/SOAP/findProductByDesignationRequest" message="tns:findProductByDesignation"/>
<output wsam:Action="http://API.webservice.aor.uc.pt/SOAP/findProductByDesignationResponse" message="tns:findProductByDesignationResponse"/>
</operation>
</portType>
<binding name="SOAPPortBinding" type="tns:SOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProductSell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProductSell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeProductSell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeSell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sellsByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="detailBySell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeSell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="detailSell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProductByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProductById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProductByDesignation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SOAPService">
<port name="SOAPPort" binding="tns:SOAPPortBinding">
<soap:address location="http://localhost:8080/SOAPService/SOAP"/>
</port>
</service>
</definitions>